<div class="default-page" style="padding: 15px;">
    <p>酷粒独白:</p>
    <p>一个有价值链接的分享平台</p>
    <p>专注在技术、互联网、Growth Hacking、有趣好玩的东西，</p>
    <p>信息的过剩让人们什么都想看，却又看了太多的无聊。</p>
    <p>相信有这的人，追寻着内心，渴望着明天，对未知世界充满了向往。</p>
    <p>不想浪费一秒钟在没有意义的阅读上。</p>
    <p>这样的人互相的传递彼此的认知，彼此温暖对方。</p>
    <p>在世界的每一个角落，彼此默契十足，却又惺惺相惜，</p>
    <p>拓宽视野，热爱生活，分享即是获取，</p>
    <p>我们是这样一群人，希望你也是，在感受到未知时而心动，</p>
    <p>希望这里聚集：<strong>1、程序员 2、有分享精神 3、喜欢挑战新鲜事物。</strong></p>
    <p>向未知的自己致敬！</p>
    <p>欢迎你的加入 <a href="/login" style="color: #ff0000;font-size: 20px;">注册</a></p>
    <p>
        有任何意见或者建议：277641333@qq.com
    </p>
    <p>
        微博：<a href="http://weibo.com/coollist" target="_blank" style="color: #ff0000;">酷粒分享</a>
    </p>
    <p>
        加入微信公众号，每天推荐5篇有价值的文章：
        <img src="/images/qrcode_for_gh_74ae182dc99b_344.jpg" style="width: 180px;height: 180px;display: block;">
    </p>
</div>
