<div class="default-page" style="padding: 15px;">
    <p>关于Cool List(酷粒),</p>
    <p>
        每天铺天盖地的新闻，让我们感觉有太多的东西需要看，不停的刷屏却不是我想看到的，我有这样的困恼，
        相信很多人也会有这样的担忧，有没有一个可以减少干扰，专注发现新鲜、有意思、让人脑洞大开的地方，
        让那些跟我无关的东西都去见鬼，我需要这样的地方，点开一个链接，发现有意思的东西，输入一个链接，分享有意思的东西，
        仅此而已。
    </p>
    <p>
        有任何意见或者建议：ljinkai@126.com
    </p>
</div>
