<div class="default-page" style="padding: 15px;">
    <p>酷粒独白:</p>
    <p>每天推荐5篇有价值的文章，专注在技术、互联网、Growth Hacking，</p>
    <p>也鼓励大家分享有价值的链接分享。</p>
    <p>信息的过剩让人们什么都想看，却又看了太多的无聊。</p>
    <p>我相信有这么一群人，追寻内心的足迹，渴望明天的神奇，对未知世界充满了向往和试探，对自己无比的自信。</p>
    <p>他们不想浪费甚至是一分钟的时间在没有意义的阅读上。</p>
    <p>大浪淘沙，一群这样的人互相的传递彼此的认知，彼此的温暖对方，让自己遇见对未知的感动，</p>
    <p>传递到世界的另一个角落，彼此默契十足，却又惺惺相惜，</p>
    <p>热爱生活，热爱时间，热爱分享，因为分享即是获取，</p>
    <p>我们本能中愿意让获得时的欣喜表达出来，即是一刹那，也满足不已。</p>
    <p>我们就是这样一群人，你也是这样的人，在感受到未知知识的喜悦的一刻，</p>
    <p>把感动分享出来，让感动落地，让这份获取得以分享。</p>
    <p>希望这里聚集这么一群人：<strong>1、程序员 2、有分享精神 3、喜欢挑战新鲜事物。</strong></p>
    <p>向未知的自己致敬！</p>

    <p>
        有任何意见或者建议：277641333@qq.com
    </p>
    <p>
        微博：<a href="http://weibo.com/coollist" target="_blank" style="color: #ff6600;">http://weibo.com/coollist</a>
    </p>
    <p>
        加入微信公众号【酷粒】：
        <img src="/images/qrcode_for_gh_74ae182dc99b_344.jpg" style="width: 180px;height: 180px;display: block;">
    </p>
</div>
