<div class="default-page" ng-controller="SpiderController">
    <div class="header">
        <a href="/" target="_self"><div id="main-title" class="container logo"></div></a>
    </div>
    <a href=""></a>
    <form class="sp_form">
        <input type="text" class="sp_url" placeholder="eg:http://www.example.com">
        <input type="text" class="sp_name" placeholder="网址名称">
        <input type="button" class="sp_btn" value="添加" ng-click="add($event)">
        <label class="sp_label" ng-bind="resultTip"></label>
    </form>
</div>
