<div class="default-page" ng-controller="FeedBackController">
    <form class="sp_form">
        <label>任何意见或建议(必填)</label>
        <textarea type="text" class="fd_msg" rows="6" placeholder=""></textarea>
        <label>邮箱(必填)</label>
        <input type="text" class="fd_email" placeholder=""/>
        <input type="button" class="sp_btn" value="发送" ng-click="add($event)">
        <label class="sp_label" ng-bind="resultTip"></label>
    </form>
</div>
