<footer class="footer">
        <span class="foo_item"><a href="/feedback">反馈</a></span>
        <span class="foo_item"><a href="/about">关于</a></span>
        <span class="foo_item"><a href="/gitbook/_book">发现</a></span>
        <span class="foo_item">京ICP备15012272号-1</span>
</footer>