<footer class="footer">
        <span class="foo_item"><a href="/feedback">反馈</a></span>
        <span class="foo_item"><a href="/about">我们</a></span>
        <span class="foo_item"><a href="/">帮助</a></span>
        <span class="foo_item"></span>
</footer>