<!DOCTYPE html>
<html>
  <head>
    <title>Cool List - Share & Link</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords"
        content="酷粒,cool list,coollist,kuli,链接,分享,cool link,share & link,好玩,有趣,有节操">
    <meta name="description"
        content="专注优质链接分享的站点,好玩,有趣,有节操">
    <meta property="og:title" content="酷粒 - 分享你的链接"/>
    <meta property="og:description" content="酷粒,好玩,有趣,有节操"/>
    <meta property="og:image" content="http://coollist.cn/images/logo.png"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="coollist"/>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="app" class="body">
  <div class="cl_body">
      <% include nav.ejs %>
      <%- body %>
      <% include footer.ejs %>
  </div>

    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <script src="/vendor/angular/angular.js"></script>

    <!--SCRIPTS-->
    <script src="/js/app.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
