<div class="header row" ng-controller="NavController">
    <!--<div id="main-title" class="container col-xs-2">-->

    <!--</div>-->
    <div class="nav_items col-xs-8">
        <h2 class="nav_item nav_item-main"><a href="/" target="_self"><strong>酷粒</strong></a></h2>
        <h2 class="nav_item"><a href="/new" target="_self">最新</a></h2>
        <h2 class="nav_item">|</h2>
        <h2 class="nav_item nav_item-opacity" ng-click="submit($event)">提交</h2>
    </div>
    <div class="header_set col-xs-4">
        <a class="nav_item nav_item-right hide" ng-class="{'show':!loginState}" href="/login" target="_self">登录</a>
        <div class="nav_item nav_item-right hide" ng-class="{'show':loginState}">
            <span ng-bind="userName"></span>
            &nbsp;<span class="nav_item-opacity" ng-click="logout($event)">退出</span>
        </div>
    </div>
</div>