<div class="header row">
    <!--<div id="main-title" class="container col-xs-2">-->

    <!--</div>-->
    <div class="nav_items col-xs-8">
        <h2 class="nav_item nav_item-main"><a href="/" target="_self"><strong>Cool List</strong></a></h2>
        <h2 class="nav_item"><a href="/" target="_self">最新</a></h2>
        <h2 class="nav_item">|</h2>
        <h2 class="nav_item"><a href="/submit" target="_self">提交</a></h2>
    </div>
    <div class="header_set col-xs-4">
        <a class="nav_item nav_item-right" href="/login" target="_self">登录</a>
    </div>
</div>