//
.header_set {position: absolute;right: 20px;top: 30px;}
.ls_body {width: 320px;margin: 10px auto;}
.ls_a {display: block;}

//
.sp_page {}
.sp_form {width: 320px;margin: 0px auto;}
.sp_url {width: 100%;height: 40px;margin: 10px 0px;}
.sp_name {width: 100%;height: 40px;}

.sp_btn {width: 100%;height: 40px;margin: 10px 0px;}
.sp_label {width: 100%;margin: 10px 0px;}