@import 'bootstrap.css';
/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
body {
  font-size: 14px;
}
.cl_body {
  width: 100%;
  max-width: 1024px;
  margin: 0px auto;
  background-color: #f6f6ef;
}
a {
  color: #000000;
}
.input-com {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
}
.header {
  height: 30px;
  line-height: 30px;
  background-color: #ff6600;
  padding: 0px;
  margin: 0px;
}
.nav_items {
  padding-left: 8px;
}
.nav_item {
  height: 30px;
  padding: 0px;
  margin: 0px;
  line-height: 30px;
  font-size: 14px;
  float: left;
  margin-right: 10px;
  font-weight: normal;
}
.nav_item-active {
  color: white;
}
.nav_item-active a {
  color: white;
}
.nav_item-main {
  margin-right: 16px;
}
.nav_item-right {
  float: right;
  margin-right: 0px;
}
.nav_item-opacity {
  cursor: pointer;
}
.nav_item-opacity:hover {
  opacity: 0.6;
}
.logo {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background: url('../images/logo.png') no-repeat left top;
  background-size: 40px;
}
.header_set {
  text-align: right;
  padding-right: 8px;
}
.ls_body {
  text-align: left;
  color: #828282;
  line-height: 1.8em;
}
.ls_item {
  float: left;
  width: 100%;
}
.ls_row {
  margin-left: 0px;
}
.ls_num {
  color: #828282;
  height: 42px;
  text-align: right;
  vertical-align: top;
}
.ls_num_space {
  height: 12px;
  line-height: 12px;
  font-size: 12px;
}
.ls_title {
  padding-left: 8px;
}
.ls_site {
  font-size: 6px;
  color: #808080;
}
.ls_up {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px 5px 0px 0px;
  display: block;
}
.ls_up_img {
  width: 10px;
  height: 10px;
  display: block;
  cursor: pointer;
  background: url("../images/icons/grayarrow.gif") no-repeat;
}
.ls_up:hover {
  opacity: 0.8;
}
.ls_a {
  display: block;
  width: auto;
  float: left;
}
.ls_sub {
  width: 90%;
  clear: both;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.ls_comment {
  color: #828282;
}
.ls_more {
  margin-left: 30px;
  height: 30px;
  line-height: 30px;
}
.sp_form {
  width: 320px;
  margin: 0px auto;
}
.sp_url {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
}
.sp_name {
  width: 100%;
  height: 40px;
}
.sp_btn {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
}
.sp_label {
  width: 100%;
  margin: 10px 0px;
}
.sb_url_par {
  position: relative;
}
.sb_loader {
  padding: 10px;
  position: absolute;
  right: -25px;
  top: 20px;
  background: url('../images/icons/icon_loader.gif') no-repeat left top;
  background-size: 20px;
}
.fd_msg {
  width: 100%;
}
.fd_email {
  width: 100%;
}
.lg_email {
  width: 100%;
  height: 36px;
  margin: 5px 0px;
}
.item_page {
  padding: 0px 12px 30px 12px;
}
.item_title {
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
}
.item_site {
  font-size: 6px;
  color: #808080;
}
.item_line {
  width: 100%;
  display: block;
}
.item_com {
  margin-top: 12px;
}
.item_sub {
  width: 100%;
  clear: both;
  height: 27px;
  line-height: 22px;
  font-size: 12px;
  margin-bottom: 0px;
  color: #828282;
}
.item_weibo {
  position: absolute;
  margin-left: 10px;
}
.item_comment_a {
  color: #828282;
}
.item_li {
  list-style: none;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 6px;
}
.item_nick {
  color: #828282;
}
.itemInput {
  width: 500px;
}
.itemBtn {
  width: 100px;
}
.footer {
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  background-color: #f6f6ef;
  border-top: 2px #ff6600 solid;
}
.foo_item {
  list-style: none;
  margin: 0px 12px;
}
@media screen and (max-width: 767px) {
  .ls_a {
    width: 92%;
  }
}
